div {
  margin-top: 20px;
}

canvas {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: #e0e0e0;
}

.resumo-info {
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  width: fit-content;
}

#saldo.positivo {
  background-color: #4caf50;
}

#saldo.negativo {
  background-color: #f44336;
}

#despesas {
  background-color: #f44336;
}

#receitas {
  background-color: #2196f3;
}
